# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
# ignore the whole folder
src/css/*.*

# but don't ignore this specific file inside it
!src/css/app.css
!src/css/app.css.map
!src/css/app.min.css
!src/css/app.min.css.map
