.hamburguerContainer {
  position: absolute;
  top: 77px;
  background: var(--skyblue-300);
  margin-left: -20px;
  padding: 20px;
  height: 100vh;
  width: 100vw;
  transition: transform 0.5s ease-in-out;
  transform-origin: left;
  transform: scaleX(100%);
  -webkit-box-shadow: inset 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: inset 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  box-shadow: inset 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.hamburguerContainer.showing {
  display: block;
  transform: scaleX(0%);
}

.hamburguerContainer.show {
  display: block;
  transform: scaleX(100%);
}

.hamburguerContainer.hiding {
  transform: scaleX(0%);
}

.hamburguerContainer.hide {
  display: none;
}

.toogleHamburguerMenu {
  background-color: transparent;
  height: fit-content;
  width: fit-content;
  padding: 10px;
  margin-left: -10px;
  border: none;
}

.toogleHamburguerMenu:active {
  background-color: rgba(128, 128, 128, 0.425);
}

.hamburguerNav {
  ul {
    padding: 0px;
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 30px;
  }

  a {
    text-decoration: none;
  }
}

.hamburguerActions {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 15px;

  a {
    text-decoration: none;
  }
}

@media (min-width: 500px) {
  .toogleHamburguerMenu {
    display: none;
  }
  .hamburguerContainer {
    display: none !important;
  }
}
