header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 50px;
}

.logoContainer {
  img {
    height: auto;
    width: 70px;
  }

  span {
    display: none;
  }
}

@media (min-width: 500px) {
  header {
    margin-bottom: 0px;
  }
}
