.itemInfoContainer {
  display: flex;
  gap: 20px;
  justify-content: center;
  flex-wrap: wrap;
  flex: 1;
  padding: 0px 20px;
  padding-bottom: 20px;
}

.itemContainer {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
  height: fit-content;
  background-color: var(--skyblue-50);
  -webkit-box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.itemInformation {
  min-height: 150px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.addToCart {
  display: flex;
  justify-content: space-around;

  label {
    display: flex;
    flex-direction: column;
    gap: 5px;
  }

  button {
    display: flex;
    align-items: center;
    gap: 10px;
  }
}

.addToCartButton {
  padding: 5px 15px;
  background: var(--gold-700);
  color: var(--pink-900);
  border: 3px solid var(--pink-300);
  transition: transform 0.3s ease-in-out;
}

.addToCartButton:hover,
.addToCartButton:focus-visible {
  transform: scale(105%);
  border: 3px solid black;
}

.addToCartButton:active {
  border: 3px solid var(--pink-300);
}
