.shoppingCartContainer {
  position: fixed;
  z-index: 3;
  background: var(--skyblue-50);
  top: 0px;
  width: 100vw;
  height: 100vh;
  right: 0;
  padding: 10px 0px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  transform-origin: right;
  transform: scaleX(100%);
  transition: transform 0.2s ease-in-out;
}
.cartItemsListContainer {
  display: flex;
  flex-direction: column;
  gap: 20px;
  height: 300px;
  overflow-y: auto;
  overflow-x: hidden;
}

.shoppingCartContainer.showing {
  display: flex;
  transform: scaleX(0%);
}

.shoppingCartContainer.show {
  display: flex;
  transform: scaleX(100%);
}

.shoppingCartContainer.hiding {
  transform: scaleX(0%);
}

.shoppingCartContainer.hide {
  display: none;
}

.shoppingCartHeader {
  display: flex;
  flex-direction: column-reverse;
}

.listContainer {
  background: var(--skyblue-700);
  padding: 10px;
  -webkit-box-shadow: inset 6px 6px 7px 0px rgba(0, 0, 0, 0.65);
  -moz-box-shadow: inset 6px 6px 7px 0px rgba(0, 0, 0, 0.65);
  box-shadow: inset 6px 6px 7px 0px rgba(0, 0, 0, 0.65);
  width: 100%;
  box-sizing: border-box;
}

.hideShoppingCart {
  background: transparent;
  border: none;
  padding: 10px;
}

.hideShoppingCart:active {
  background-color: rgba(128, 128, 128, 0.425);
}

.backdrop {
  background-color: gray;
  position: fixed;
  inset: 0;
  opacity: 0%;
  pointer-events: none;
  transition: opacity 0.5s ease-in-out;
  z-index: 2;
}

.backdrop.show,
.backdrop.showing {
  opacity: 80%;
  pointer-events: auto;
}

.goToCheckoutButton {
  padding: 5px 15px;
  background: var(--gold-700);
  color: var(--pink-900);
  border: 3px solid var(--pink-300);
  transition: transform 0.5s ease-in-out;
  text-decoration: none;
}

.goToCheckoutButton:hover,
.goToCheckoutButton:focus-visible {
  transform: scale(105%);
  border: 3px solid black;
}

.goToCheckoutButton:active {
  border: 3px solid var(--pink-300);
}

@media (min-width: 400px) {
  .shoppingCartContainer {
    padding: 20px;
  }
}

@media (min-width: 530px) {
  .shoppingCartContainer {
    width: 80vw;
    max-width: 600px;
  }
}

@media (min-width: 700px) {
  .shoppingCartContainer {
    width: 60vw;
    max-width: 600px;
  }
}
