@import url("https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap");
:root {
  --pink-50: #fefbfb;
  --pink-100: #fcecec;
  --pink-300: #f9cfcf;
  --pink-500: #f6b3b3;
  --pink-700: #936b6b;
  --pink-900: #312323;
  --gold-50: #fefdf4;
  --gold-100: #fef8cc;
  --gold-300: #ffed68;
  --gold-500: #fde22e;
  --gold-700: #ffe41a;
  --gold-900: #322d09;
  --skyblue-50: #fbfefe;
  --skyblue-100: #f0fcfc;
  --skyblue-300: #d8f9f9;
  --skyblue-500: #c1f6f6;
  --skyblue-700: #739393;
  --skyblue-900: #263131;
}

* {
  margin: 0px;
}

#root {
  overflow-x: clip;
  background: var(--skyblue-100);
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  position: relative;
}

.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 24;
}

.roboto-condensed-400 {
  font-family: "Roboto Condensed", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.roboto-condensed-600 {
  font-family: "Roboto Condensed", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}

.roboto-condensed-900 {
  font-family: "Roboto Condensed", sans-serif;
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: normal;
}

.shoppingCartContainer.hide {
  display: none;
}

.cartButtonContainer {
  position: relative;
}
.cartButtonContainer p {
  position: absolute;
  top: 0;
  right: 0;
  padding: 1px 5px;
  background: var(--pink-500);
  border-radius: 20px;
}

.shoppingCartButton {
  background-color: transparent;
  height: fit-content;
  width: fit-content;
  padding: 10px;
  margin-left: -10px;
  border: none;
}

.hamburguerContainer {
  position: absolute;
  top: 72px;
  background: var(--skyblue-50);
  margin-left: -20px;
  padding: 20px;
  height: 100vh;
  width: 100vw;
  transition: transform 0.2s ease-in-out;
  transform-origin: left;
  transform: scaleX(100%);
  -webkit-box-shadow: inset 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: inset 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  box-shadow: inset 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.hamburguerContainer.showing {
  display: block;
  transform: scaleX(0%);
}

.hamburguerContainer.show {
  display: block;
  transform: scaleX(100%);
}

.hamburguerContainer.hiding {
  transform: scaleX(0%);
}

.hamburguerContainer.hide {
  display: none;
}

.toogleHamburguerMenu {
  background-color: transparent;
  height: fit-content;
  width: fit-content;
  padding: 10px;
  margin-left: -10px;
  border: none;
}

.toogleHamburguerMenu:active {
  background-color: rgba(128, 128, 128, 0.425);
}

.hamburguerNav ul {
  padding: 0px;
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.hamburguerNav a {
  text-decoration: none;
  color: rgba(240, 120, 120, 0.9607843137);
}

.hamburguerActions {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 15px;
}
.hamburguerActions a {
  text-decoration: none;
}

.loginHamburguer {
  border: 3px solid var(--pink-500);
  padding: 3px 5px;
  background: var(--gold-500);
  transition: transform 0.3s ease-in-out;
  text-decoration: none;
  color: var(--pink-900);
}

.loginHamburguer:hover,
.loginHamburguer:focus-visible {
  transform: scale(105%);
  background-color: rgba(128, 128, 128, 0.425);
}

.loginHamburguer:active {
  background: var(--gold-500);
}

.singupHamburguer {
  border: 2px solid var(--pink-500);
  padding: 3px 5px;
  background: transparent;
  transition: transform 0.3s ease-in-out;
  text-decoration: none;
  color: var(--pink-900);
}

.singupHamburguer:hover,
.singupHamburguer:focus-visible {
  transform: scale(105%);
  background-color: rgba(128, 128, 128, 0.425);
}

.singupHamburguer:active {
  background: transparent;
}

.logOutHamburguer {
  border: 2px solid var(--pink-500);
  padding: 3px 5px;
  background: transparent;
  transition: transform 0.3s ease-in-out;
}

.logOutHamburguer:hover,
.logOutHamburguer:focus-visible {
  transform: scale(105%);
  background-color: rgba(128, 128, 128, 0.425);
}

.logOutHamburguer:active {
  background: transparent;
}

@media (min-width: 500px) {
  .toogleHamburguerMenu {
    display: none;
  }
  .hamburguerContainer {
    display: none !important;
  }
}
.wideNav {
  display: none;
  margin-bottom: 30px;
  background-color: var(--pink-500);
  width: 100vw;
  position: sticky;
  z-index: 1;
  top: 0;
}
.wideNav ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
  flex: 1;
  max-width: 500px;
  padding: 10px 20px;
  font-family: "Roboto Condensed", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}
.wideNav ul a {
  text-decoration: none;
  color: rgba(11, 27, 27, 0.7098039216);
}

.chosenLinkNav {
  padding-bottom: 3px;
  border-bottom: 3px solid var(--gold-500);
  color: #0b1b1b !important;
}

@media (min-width: 500px) {
  .wideNav {
    display: flex;
    -webkit-box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    -moz-box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  }
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 50px;
  padding: 10px 20px 0px 20px;
  -webkit-box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  position: sticky;
  top: 0;
  background-color: var(--skyblue-50);
}

.logoContainer img {
  height: auto;
  width: 70px;
}

.headerActions {
  display: flex;
  gap: 10px;
  align-items: center;
}

.headerAuth {
  display: none;
}

.login {
  display: none;
  border: 3px solid var(--pink-500);
  padding: 3px 5px;
  background: var(--gold-500);
  transition: transform 0.3s ease-in-out;
  text-decoration: none;
  color: var(--pink-900);
  font-family: "Roboto Condensed", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}

.login:hover,
.login:focus-visible {
  transform: scale(105%);
  background-color: rgba(128, 128, 128, 0.425);
}

.login:active {
  background: var(--gold-500);
}

.singup {
  color: var(--pink-900);
}

.singup {
  display: none;
  border: 2px solid var(--pink-500);
  padding: 3px 5px;
  background: transparent;
  transition: transform 0.3s ease-in-out;
  text-decoration: none;
  color: var(--pink-900);
  font-family: "Roboto Condensed", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}

.singup:hover,
.singup:focus-visible {
  transform: scale(105%);
  background-color: rgba(128, 128, 128, 0.425);
}

.singup:active {
  background: transparent;
}

.logOutHeader {
  display: none;
  border: 2px solid var(--pink-500);
  padding: 3px 5px;
  background: transparent;
  transition: transform 0.3s ease-in-out;
  font-family: "Roboto Condensed", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  font-size: 16px;
}

.logOutHeader:hover,
.logOutHeader:focus-visible {
  transform: scale(105%);
  background-color: rgba(128, 128, 128, 0.425);
}

.logOutHeader:active {
  background: transparent;
}

.headerLink {
  display: flex;
  align-items: flex-start;
  gap: 10px;
  text-decoration: none;
  color: var(--gold-500);
}

.headerLinkText {
  display: none;
  font-family: "Great Vibes", cursive;
  font-weight: 400;
  font-style: normal;
  font-size: 60px;
}

@media (min-width: 500px) {
  header {
    margin-bottom: 0px;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    position: static;
  }
  .headerAuth {
    display: block;
  }
  .logOutHeader {
    display: block;
  }
}
@media (min-width: 700px) {
  .headerLinkText {
    display: inline;
  }
}
.homePageMain {
  padding: 0px 20px;
}

.introduction {
  display: flex;
  flex-direction: column;
  gap: 25px;
  margin-bottom: 30px;
}

.imgContainer {
  display: flex;
  justify-content: center;
}
.imgContainer img {
  height: auto;
  width: 200px;
  -webkit-box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.text {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.text p {
  max-width: 35em;
}

hr {
  border: none;
  height: 15px;
  background-color: var(--pink-500);
}

.productsCategories {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 50px 20px;
  gap: 30px;
}

.categoryListTitle {
  margin-top: 10px;
}

@media (min-width: 700px) {
  .introduction {
    flex-direction: row;
    justify-content: center;
    gap: 40px;
  }
  .introduction .text {
    padding: 10px;
    background-color: var(--skyblue-50);
    -webkit-box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    -moz-box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  }
}
@media (min-width: 530px) {
  .productsCategories {
    justify-content: space-between;
  }
}
.categoryCard {
  display: flex;
  flex-direction: column;
  text-decoration: none;
  color: var(--pink-900);
  width: 200px;
  -webkit-box-shadow: 4px 6px 4px 1px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 4px 6px 4px 1px rgba(0, 0, 0, 0.25);
  box-shadow: 4px 6px 4px 1px rgba(0, 0, 0, 0.25);
  transition: transform 0.3s ease-in-out;
}

.categoryCard:hover,
.categoryCard:focus-visible {
  transform: scale(110%);
}

.cardImg {
  margin-bottom: -5px;
}
.cardImg img {
  width: 100%;
  height: 200px;
}

.cardContent {
  padding: 10px 15px;
  flex: 1;
}
.cardContent h3 {
  font-size: 20px;
}

footer {
  width: 100vw;
  background-color: var(--pink-500);
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.contactoContainer {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.contactoText {
  font-size: 20px;
}

.phoneNumber {
  display: flex;
  align-items: center;
  gap: 10px;
  color: var(--gold-900);
  font-size: 18px;
}

.instagram {
  display: flex;
  align-items: center;
  gap: 10px;
  color: var(--gold-900);
  font-size: 18px;
}
.instagram a {
  color: var(--gold-900);
}

.ubicacionContainer {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.ubicacion {
  display: flex;
  align-items: center;
}
.ubicacion p {
  font-size: 20px;
}

.ubicacionContainer iframe {
  border: none;
  width: 320px;
  align-self: center;
}

@media (min-width: 400px) {
  footer {
    padding: 10px 20px;
  }
}
@media (min-width: 700px) {
  footer {
    justify-content: space-between;
    flex-direction: row;
  }
  .ubicacionContainer {
    margin-right: 55px;
  }
  .ubicacionContainer iframe {
    width: 400px;
  }
}
.categoryInfo {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 30px;
  padding: 0px 20px;
}

.categoryImg {
  display: flex;
  justify-content: center;
}
.categoryImg img {
  height: auto;
  width: 200px;
  -webkit-box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.categoryText {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.categoryText p {
  max-width: 35em;
}

.itemsContainer {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 50px 20px;
  gap: 30px;
}

.categoryPageMain {
  padding: 0px 20px;
}

@media (min-width: 700px) {
  .categoryInfo {
    flex-direction: row;
    justify-content: center;
    gap: 40px;
  }
  .categoryInfo .categoryText {
    padding: 10px;
    background-color: var(--skyblue-50);
    -webkit-box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    -moz-box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  }
}
@media (min-width: 530px) {
  .itemsContainer {
    justify-content: space-between;
  }
}
.itemInfoContainer {
  display: flex;
  gap: 20px;
  justify-content: center;
  flex-wrap: wrap;
  flex: 1;
  padding: 0px 20px;
  padding-bottom: 20px;
}

.itemContainer {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
  height: fit-content;
  background-color: var(--skyblue-50);
  -webkit-box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.itemInformation {
  min-height: 150px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.addToCart {
  display: flex;
  justify-content: space-around;
}
.addToCart label {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.addToCart button {
  display: flex;
  align-items: center;
  gap: 10px;
}

.addToCartButton {
  padding: 5px 15px;
  background: var(--gold-700);
  color: var(--pink-900);
  border: 3px solid var(--pink-300);
  transition: transform 0.3s ease-in-out;
  font-size: 16px;
}

.addToCartButton:hover,
.addToCartButton:focus-visible {
  transform: scale(105%);
  border: 3px solid black;
}

.addToCartButton:active {
  border: 3px solid var(--pink-300);
}

.carousellTop {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  align-items: center;
}
.carousellTop .imgContainer img {
  height: auto;
  width: 200px;
  display: none;
}
.carousellTop .imgContainer img.showImg {
  display: inline;
}

.carousellContent {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.carousellContent h3 {
  display: flex;
  justify-content: center;
}

.carousellBtn {
  background-color: transparent;
  border: none;
}

.carousellBtn:active {
  background-color: rgba(128, 128, 128, 0.425);
}

.imgControl {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 10px;
}

.chooseImg {
  background-color: white;
  border: 1px solid black;
  height: 15px;
  width: 15px;
  border-radius: 30px;
}

.chooseImg.currentButton {
  background-color: gray;
}

.authMain {
  flex: 1;
  padding: 0px 20px;
  padding-bottom: 50px;
}

.formContainer {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
}

.registerForm,
.loginForm {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 300px;
  gap: 30px;
}
.registerForm label,
.loginForm label {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.registerForm input,
.loginForm input {
  padding: 5px 5px;
  background-color: var(--skyblue-700);
  -webkit-box-shadow: inset 3px 3px 5px 0px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: inset 3px 3px 5px 0px rgba(0, 0, 0, 0.25);
  box-shadow: inset 2px 2px 5px 0px rgba(0, 0, 0, 0.7);
  border: none;
  color: var(--gold-300);
}

.logInButton {
  border: 3px solid var(--pink-500);
  padding: 3px 5px;
  background: var(--gold-500);
  transition: transform 0.3s ease-in-out;
  text-decoration: none;
  color: var(--pink-900);
  font-size: 16px;
}

.logInButton:hover,
.logInButton:focus-visible {
  transform: scale(105%);
  background-color: rgba(128, 128, 128, 0.425);
}

.logInButton:active {
  background: var(--gold-500);
}

.signUpButton {
  border: 3px solid var(--pink-500);
  padding: 3px 5px;
  background: var(--gold-500);
  transition: transform 0.3s ease-in-out;
  text-decoration: none;
  color: var(--pink-900);
  font-size: 16px;
}

.signUpButton:hover,
.signUpButton:focus-visible {
  transform: scale(105%);
  background-color: rgba(128, 128, 128, 0.425);
}

.signUpButton:active {
  background: var(--gold-500);
}

.textInputContainer {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.textInputContainer .errorInputText {
  color: #a30000;
}

.authNotification {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 20px;
}
.authNotification p {
  padding: 5px 10px;
  background-color: var(--pink-500);
}

.checkoutContainer {
  display: flex;
  gap: 30px;
  justify-content: center;
  flex: 1;
  flex-wrap: wrap;
  padding: 0px 20px;
  padding-bottom: 50px;
}

.cartItems {
  flex: 1;
  max-width: 600px;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 330px;
  gap: 15px;
}

.paymentInfo {
  flex: 1;
  min-width: 300px;
  max-width: 300px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  background: var(--pink-50);
  color: var(--pink-900);
  padding: 10px 20px;
  -webkit-box-shadow: 3px 3px 5px 0px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 3px 3px 5px 0px rgba(0, 0, 0, 0.25);
  box-shadow: 3px 3px 5px 0px rgba(0, 0, 0, 0.25);
}

.paymentInforCard {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.costInformation {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.costInformation p {
  display: flex;
  justify-content: space-between;
  max-width: 200px;
}

.payButton {
  align-self: center;
  display: flex;
  gap: 5px;
  align-items: center;
  padding: 5px 15px;
  background: var(--gold-700);
  color: var(--pink-900);
  border: 3px solid var(--pink-300);
  transition: transform 0.5s ease-in-out;
}

.payButton:hover,
.payButton:focus-visible {
  transform: scale(105%);
  border: 3px solid black;
}

.payButton:active {
  border: 3px solid var(--pink-300);
}

.itemCard {
  display: flex;
  background: var(--gold-500);
  max-width: 600px;
  min-width: 300px;
}
.itemCard img {
  height: auto;
  width: 100px;
}
.itemCard .content {
  display: flex;
  flex-direction: column;
  padding: 10px;
  flex: 1;
}
.itemCard .cost p {
  display: flex;
  justify-content: space-between;
  max-width: 200px;
}
.itemCard .text {
  gap: 5px;
}
.itemCard .top {
  display: flex;
  justify-content: space-between;
}

.removeItemButton {
  background: var(--skyblue-50);
  border: none;
  padding: 2px 10px;
  height: 30px;
  -webkit-box-shadow: 0px 4px 7px 0px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0px 4px 7px 0px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 4px 7px 0px rgba(0, 0, 0, 0.3);
  transition: transform 0.5s ease-in-out;
}

.removeItemButton:focus-visible,
.removeItemButton:hover {
  background: rgb(194, 191, 191);
  transform: scale(105%);
}

.removeItemButton:active {
  background: var(--skyblue-50);
}

@media (min-width) {
  .itemCard img {
    width: 130px;
  }
}
.addCardButton {
  padding: 30px;
  border: 2px dashed;
  display: flex;
  align-items: center;
  gap: 10px;
}

.cardContainer {
  display: flex;
  align-items: center;
  gap: 10px;
}

.cardInfoContainer {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.useAnotherCard {
  align-self: flex-start;
  display: flex;
  gap: 5px;
  align-items: center;
  padding: 5px 10px;
  background: transparent;
  border: 2px solid var(--gold-500);
  transition: transform 0.5s ease-in-out;
}

.useAnotherCard:focus-visible,
.useAnotherCard:hover {
  background: rgb(204, 200, 200);
  transform: scale(105%);
}

.useAnotherCard:active {
  background: transparent;
}

.shoppingCartContainer {
  position: fixed;
  z-index: 3;
  background: var(--skyblue-50);
  top: 0px;
  width: 100vw;
  height: 100vh;
  right: 0;
  padding: 10px 0px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  transform-origin: right;
  transform: scaleX(100%);
  transition: transform 0.2s ease-in-out;
}

.cartItemsListContainer {
  display: flex;
  flex-direction: column;
  gap: 20px;
  height: 300px;
  overflow-y: auto;
  overflow-x: hidden;
}

.shoppingCartContainer.showing {
  display: flex;
  transform: scaleX(0%);
}

.shoppingCartContainer.show {
  display: flex;
  transform: scaleX(100%);
}

.shoppingCartContainer.hiding {
  transform: scaleX(0%);
}

.shoppingCartContainer.hide {
  display: none;
}

.shoppingCartHeader {
  display: flex;
  flex-direction: column-reverse;
}

.listContainer {
  background: var(--skyblue-700);
  padding: 10px;
  -webkit-box-shadow: inset 6px 6px 7px 0px rgba(0, 0, 0, 0.65);
  -moz-box-shadow: inset 6px 6px 7px 0px rgba(0, 0, 0, 0.65);
  box-shadow: inset 6px 6px 7px 0px rgba(0, 0, 0, 0.65);
  width: 100%;
  box-sizing: border-box;
}

.hideShoppingCart {
  background: transparent;
  border: none;
  padding: 10px;
  align-self: center;
}

.hideShoppingCart:active {
  background-color: rgba(128, 128, 128, 0.425);
}

.backdrop {
  background-color: gray;
  position: fixed;
  inset: 0;
  opacity: 0%;
  pointer-events: none;
  transition: opacity 0.5s ease-in-out;
  z-index: 2;
}

.backdrop.show,
.backdrop.showing {
  opacity: 80%;
  pointer-events: auto;
}

.goToCheckoutButton {
  padding: 5px 15px;
  background: var(--gold-700);
  color: var(--pink-900);
  border: 3px solid var(--pink-300);
  transition: transform 0.5s ease-in-out;
  text-decoration: none;
}

.goToCheckoutButton:hover,
.goToCheckoutButton:focus-visible {
  transform: scale(105%);
  border: 3px solid black;
}

.goToCheckoutButton:active {
  border: 3px solid var(--pink-300);
}

@media (min-width: 400px) {
  .shoppingCartContainer {
    padding: 20px;
  }
}
@media (min-width: 530px) {
  .shoppingCartContainer {
    width: 80vw;
    max-width: 600px;
  }
}
@media (min-width: 700px) {
  .shoppingCartContainer {
    width: 60vw;
    max-width: 600px;
  }
}
.addCreditCardModal {
  z-index: 3;
  background-color: var(--skyblue-50);
  padding: 40px 15px;
  position: absolute;
  top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  transition: transform 0.3s ease-in-out;
  transform: translateY(100%);
  background: var(--gold-50);
  color: var(--skyblue-900);
  width: 80vw;
  max-width: 1000px;
}

.addCreditCardModal.showing {
  display: flex;
  transform: translateY(-120%);
}

.addCreditCardModal.show {
  display: flex;
  transform: translateY(0%);
}

.addCreditCardModal.hiding {
  transform: translateY(-120%);
}

.addCreditCardModal.hide {
  display: none;
}

.addCreditCardForm {
  display: flex;
  flex-direction: column;
  gap: 5px;
  width: 80%;
  max-width: 700px;
}
.addCreditCardForm label {
  display: flex;
  flex-direction: column;
  gap: 5px;
  font-weight: 700;
}
.addCreditCardForm fieldset {
  display: flex;
  flex-direction: column;
  gap: 15px;
  border: none;
  border-left: 2px solid var(--skyblue-700);
}
.addCreditCardForm fieldset input {
  max-width: 50px;
}
.addCreditCardForm .textInputContainer {
  flex: 1;
  min-height: 70px;
  max-width: 300px;
}
.addCreditCardForm input {
  padding: 5px 5px;
  background-color: var(--skyblue-700);
  -webkit-box-shadow: inset 3px 3px 5px 0px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: inset 3px 3px 5px 0px rgba(0, 0, 0, 0.25);
  box-shadow: inset 2px 2px 5px 0px rgba(0, 0, 0, 0.7);
  border: none;
  color: var(--gold-300);
}
.addCreditCardForm .errorInputText {
  color: #a30000;
}

.closeAddCreditCard {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: transparent;
  border: none;
}

.closeAddCreditCard:active {
  background-color: rgba(128, 128, 128, 0.425);
}

.saveNewCreditCard {
  grid-column: 1/3;
  justify-self: center;
  align-self: center;
  margin-top: 10px;
  display: flex;
  gap: 5px;
  align-items: center;
  border: 2px solid #8bc34a;
  background: #dcf6c1;
  padding: 5px 10px;
  color: var(--skyblue-900);
  transition: transform 0.5s ease-in-out;
}

.saveNewCreditCard:hover,
.saveNewCreditCard:focus-visible {
  transform: scale(105%);
}

@media (min-width: 600px) {
  .addCreditCardForm {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
    width: 70vw;
  }
  .addCreditCardForm fieldset {
    grid-column: 1/3;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-width: 500px;
    gap: 30px;
  }
}/*# sourceMappingURL=app.css.map */